@if (!signInUpService.isSignedIn()) {
  <form
    class="grid grid-cols-[max-content_max-content] gap-4 flex-wrap items-end"
    (submit)="signInUpService.handleSubmit($event)"
  >
    @if (!signInUpService.isSigningIn()) {
      <div>
        <label for="username" class="label">
          <span class="label-text">Username</span>
        </label>
        <input
          class="input input-sm input-bordered"
          type="text"
          id="username"
          name="username"
          required
        />
      </div>
    }

    <div>
      <label for="email" class="label">
        <span class="label-text">Email</span>
      </label>
      <input
        class="input input-sm input-bordered"
        type="email"
        id="email"
        name="email"
        required
      />
    </div>

    <div>
      <label for="password" class="label">
        <span class="label-text">Password</span>
      </label>
      <input
        class="input input-sm input-bordered"
        type="password"
        required
        id="password"
        name="password"
        [autocomplete]="signInUpService.isSigningIn() ? 'current-password' : 'new-password'"
      />
    </div>

    <div>
      <button type="submit" class="btn btn-sm btn-outline">
        {{ signInUpService.isSigningIn() ? "Sign In" : "Sign Up" }}
      </button>
    </div>
  </form>
  <div class="my-4 flex gap-2 flex-wrap items-end">
    {{
      signInUpService.isSigningIn() ? "Already have an account?" : "Don't have an account?"
    }}
    <button
      type="button"
      class="btn btn-sm underline"
      (click)="signInUpService.handleSignMethod()"
    >
      {{ signInUpService.isSigningIn() ? "Sign Up" : "Sign In" }}
    </button>
  </div>
}
