---
type Props = {
  title?: string;
  description?: string;
};

const { title, description } = Astro.props;

import Layout from "./Layout.astro";
---

<Layout title={title} description={description}>
  <main class="prose mx-auto">
    <slot />
  </main>
</Layout>
