---
import NavDrawer from "../components/NavDrawer.astro";
type Props = {
  title?: string;
  description?: string;
};

const { title, description } = Astro.props;
const pageTitle = title ? `${title} | EthanG` : "EthanG";
const pageDescription = description ?? "Messin' around on the web sometimes.";
---

<!doctype html>
<html
  lang="en"
  data-theme="dark"
  class="selection:bg-info selection:text-base-300"
>
  <head>
    <meta charset="utf8" />
    <meta name="viewport" content="width=device-width" />

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png" />
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png" />
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <link rel="manifest" href="/site.webmanifest" />
    <meta name="theme-color" content="#1976d2" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Funnel+Display:wght@300..800&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Noto+Sans+Mono:wght@100..900&display=swap"
      rel="stylesheet"
    />

    <meta name="generator" content={Astro.generator} />
    <title>{pageTitle}</title>
    <meta name="description" content={pageDescription} />
  </head>
  <body class="grid grid-rows-[auto_1fr] h-[100vb] overflow-hidden">
    <NavDrawer />
    <div id="main-content" class="p-4 sm:mx-0 overflow-auto">
      <slot />
    </div>
  </body>
</html>
