<app-blog-layout>
  <h1>Mimetic Desire</h1>
  <p>
    <a href="https://violenceandreligion.com/mimetic-theory/" target="_blank"
      >Rene Girard's mimetic theory</a
    >
    is an interesting rabbit hole that cleanly explains human relationships,
    conflict, and our culture. The premise is simple but very powerful. Our
    desires are not just a product of rational decision-making, instead they are
    shaped by the desires of others. An otherwise very simple observation can
    lead us to understanding a lot of conflicts we see today. Mimetic theory
    shows that it is human nature to scapegoat and sacrifice others. But it also
    shows how we can turn that around.
  </p>
  <p>
    Girard argues that we don't desire objects inherently. Instead, we desire
    what others desire. This is a mimetic desire. It's initially an innocent
    imitation but can quickly escalate into rivalry. When multiple individuals
    desire the same scarce or unsharable object like a job, romantic partner, or
    social status, competition emerges. This "mimetic rivalry" transforms the
    initial model of desire into a model-obstacle, a rival blocking access to
    the coveted object. The focus shifts from the object itself to the rivalry,
    intensifying the desire and fueling a potentially destructive escalation.
    The conflict is not just about the object, it's about the assertion of self
    against the other.
  </p>
  <p>
    If this escalation is left unchecked, others can get involved. Instead of
    thinking about this as two guys fighting over something, think about large
    corporations with marketing departments competing over market share. Social
    media influencers creating and fostering a "community" to compete for views.
    Or political party leaders rallying supporters.
  </p>
  <p>
    This can lead to a chaotic "war of all against all." Threatening the
    stability of these communities, consumers, or social groups. Girard
    identifies the scapegoat mechanism as the primary means by which societies
    have historically resolved such conflicts. This mechanism involves the
    collective identification of a single individual or group as the source of
    all problems.
  </p>
  <p>
    The scapegoat, regardless of actual guilt, becomes the target of collective
    aggression, and it's only their expulsion or sacrifice that can restore
    fragile peace. The crucial element here is the unanimous belief in the
    scapegoat's guilt. A belief that masks the underlying violence is inherent
    in the process itself. The peace achieved is a violent piece, built on a
    foundation of collective deception and suffering of an innocent victim.
  </p>
  <p>
    Girard contends that scapegoating isn't just a historical phenomenon
    relevant only to what we might perceive as petty war. It's a deeply
    ingrained human tendency. It manifests not only on a societal level but also
    within individuals. When we choose sides in other people's desires,
    perceiving that as a rational choice and not our own mimetic desire, we
    start to project perceived flaws and inadequacies onto others. Solidifying
    our self-image at their expense.
  </p>
  <p>
    Girard looks to Christian Gospels as an answer. An alternative to this cycle
    of mimetic violence and scapegoating. He argues that the Gospels reveal the
    scapegoating mechanism by exposing the innocence of God in the figure of
    Jesus. This revelation challenges the self-justifying nature of scapegoating
    and offers a path to real peace. Reconciliation that isn't built on violence
    and sacrifice, but on forgiveness and the recognition of our shared
    complicity in violence.
  </p>
  <p>
    The power of mimetic theory doesn't just lie in its explanation of conflict,
    but its potential to transform how we understand and interact with the
    world. By recognizing the mimetic nature of our desires and the pervasive
    influence of scapegoating, we can interrupt these patterns and cultivate a
    more just and compassionate society. The path forward lies in embracing
    forgiveness and recognizing our shared humanity. Not in perpetuating cycles
    of blame and violence. It means moving past our own self-serving narratives
    and scapegoating. Instead, moving toward a future defined by empathy,
    understanding, and a commitment to true peace.
  </p>
</app-blog-layout>
