<div class="collapse collapse-arrow join-item border-base-300 border">
  <input
    type="radio"
    name="courses-accordion"
    [attr.aria-labelledby]="'title-' + index()"
    [checked]="selectedIndex() === index()"
    (change)="selectIndex(index())"
  />
  <div class="collapse-title text-xl font-medium" [id]="'title-' + index()">
    {{ title() }}
  </div>
  <div class="collapse-content">
    <ng-content />
    <ol>
      @for (course of courses(); track course.name) {
        <li>
          <a target="_blank" [href]="course.url">{{ course.name }}</a>
        </li>
      }
    </ol>
  </div>
</div>
