<app-navigation>
  <main>
    <div class="grid grid-cols-[auto_1fr]">
      <div class="join join-vertical">
          @for (user of users; track user.id) {
            <div class="join-item">
              <app-user
                [user]="user"
                (select)="onSelectUser($event)"
                [selected]="selectedUser()?.id === user.id"
              />
            </div>
          }
      </div>

      <div class="py-2">
        @if (selectedUser()) {
          <app-tasks
            [userId]="selectedUser()!.id"
            [name]="selectedUser()!.name"
          />
        } @else {
          <p>Select a user.</p>
        }
      </div>
    </div>
  </main>
</app-navigation>

<router-outlet/>
