<div class="prose">
  <app-sign-up-in />
  @if (authService.isSignedIn()) {
    <div class="border-b-2 border-white my-4">Comments:</div>
    <form (submit)="handleAddComment($event)">
      <div>
        <label for="message" class="label">
          <span class="label-text">Comment:</span>
        </label>
        <textarea
          class="textarea textarea-sm textarea-bordered"
          id="message"
          name="message"
          required
        ></textarea>
      </div>

      <button type="submit" class="btn btn-sm btn-outline">
        Add
      </button>
    </form>
  }
</div>
