<main class="prose">
  <h1>Activity Log</h1>
  <% _.forEach(blogs, function(blog) { %>
  <script type="module">
    const mainContent = document.querySelector("#main-content");
    const blogLink = document.querySelector(`#${blog.id}`);
    const blogResponse = await fetch(`./templates/blog/${blog.id}/`);

    blogLink?.addEventListener("click", async (event) => {
      event.preventDefault();

      try {
        mainContent.innerHTML = await blogResponse.text();
        history.pushState(null, null, blogLink.getAttribute("href"));
        document.title = `${ blog.title }`;
      } catch {
        location.href = blogLink.getAttribute("href");
      }
    });
  </script>
  <h2 class="my-4">
    <a id="<%- blog.id %>" rel="prefetch" href="<%- blog.link %>"
      ><%- blog.title %></a
    >
  </h2>
  <% }); %>
</main>
