---
import Layout from "../layouts/Layout.astro";
import HowICodeContent from "../components/HowICodeContent.astro";
---

<Layout>
    <main class="prose">
        <HowICodeContent />
    </main>
</Layout>
