---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main class="prose">
        <h2>
            <a rel="prefetch" href="/blog/how-i-code">How I Code</a>
        </h2>
        <h3><a rel="prefetch" href="/blog/beyond-optional-chaining">Optional Chaining vs. lodash.get: Comparative Analysis</a></h3>
    </main>
</Layout>
