---
import Layout from "../layouts/Layout.astro";
import HowICodeContent from "../components/HowICodeContent.astro";
---

<Layout title="How I Code">
    <main class="prose">
        <h2>
            <a rel="prefetch" href="/blog/how-i-code">How I Code</a>
        </h2>
    </main>
</Layout>
