---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main class="prose">
        <h1 class="mb-4">Reflections on Tech</h1>
        <ul>
            <li><a rel="prefetch" href="/blog/how-i-code">How I Code</a></li>
            <li>
                <a rel="prefetch" href="/blog/dont-need-state-management-libraries">We Don't Need State Management
                    Libraries</a>
            </li>
            <li>
                <a rel="prefetch" href="/blog/forcing-react">Forcing React to be What It Isn't</a>
            </li>
            <li>
                <a rel="prefetch" href="/blog/use-windows">You Should Use Windows</a>
            </li>
            <li>
                <a rel="prefetch" href="/blog/local-first">The Local First Stack</a>
            </li>
        </ul>
    </main>
</Layout>
