---
import Layout from "../layouts/Layout.astro";
---

<Layout>
    <main class="prose">
        <h1 class="mb-4">Reflections on Tech</h1>
        <ul>
            <li><a rel="prefetch" href="/blog/typescript-doesnt-replace-javascript">TypeScript Is An Additional Layer of Protection, Not a Replacement</a></li>
            <li>
                <a rel="prefetch" href="/blog/javascript-standard-library">Why You Should Install That JS Library</a>
            </li>
            <li>
                <a rel="prefetch" href="/blog/dont-need-state-management-libraries">We Don't Need State Management
                    Libraries</a>
            </li>
            <li><a rel="prefetch" target="_blank" href="https://utility.hello-a8f.workers.dev/#/">You Should Use lodash</a></li>
            <li>
                <a rel="prefetch" href="/blog/your-lodash-get-implementation-sucks">You lodash.get Implementation
                    Sucks</a>
            </li>
            <li>
                <a rel="prefetch" href="/blog/forcing-react">Forcing React to be What It Isn't</a>
            </li>
            <li>
                <a rel="prefetch" href="/blog/use-windows">You Should Use Windows</a>
            </li>
            <li>
                <a rel="prefetch" href="/blog/local-first">The Local First Stack</a>
            </li>
        </ul>
    </main>
</Layout>
