---
import Layout from "../../layouts/Layout.astro";
---
<Layout>
  <main class="prose">
    <h1>Notes On: Burnout</h1>
    <h2>The Trauma of Burnout</h2>
    <p>Book: <a
      href="https://www.goodreads.com/book/show/212924023-the-trauma-of-burnout"
      target="_blank">The
      Trauma of Burnout, Dr. Claire Plumbly</a></p>
    <p><strong>Stages of Burnout</strong></p>
    <ul>
      <li><strong>Stage 1 (Honeymoon Phase):</strong> Job satisfaction,
        accepting more
        responsibility, sustained
        energy levels, <span class="text-error">unbridled optimism</span>,
        commitment to job, <span class="text-error">compulsion to
        prove yourself</span>, free-flowing creativity, high productivity
        levels.
      </li>
      <li><strong>Stage 2 (Onset of Stress):</strong> (Typically goes unnoticed
        as unusual.)
        Inability to focus, irritability, reduced
        sleep quality, lack of social interactions, lower productivity, anxiety,
        avoidance of decision making, change in appetite fatigue, headache,
        neglect of personal needs.
      </li>
      <li><strong>Stage 3 (Chronic Stress):</strong> Persistent tiredness,
        procrastination, resentfulness,
        social withdrawal, lower sexual desire, denial of problems, feel
        threatened, feel pressured, alcohol consumption, drug consumption,
        aggressive behavior, apathy, chronic exhaustion, cynical attitude.
      </li>
      <li><strong>Stage 4 (Burnout):</strong> Obsession with problems,
        pessimistic outlook, physical symptoms, self-doubt, social isolation,
        chronic headaches, chronic gastrointestinal problems, neglect of
        personal needs, escapist activities, behavioral changes.
      </li>
      <li><strong>Stage 5 (Habitual Burnout):</strong> Chronic sadness, chronic
        mental fatigue, chronic physical fatigue, depression.
      </li>
    </ul>
    <p>When faced with stress, the hypothalamus signals the pituitary gland,
      which in turn signals the adrenal glands to release stress hormones,
      primarily cortisol and adrenaline. These hormones prepare the body for
      "fight or flight". In a healthy stress response, these levels return to
      baseline once the threat is perceived to be over.</p>
    <p>However, in chronic stress, caused by burnout, this system remains
      hyperactive, leading to <strong>persistently elevated stress hormone
        levels</strong>. This
      can lead to many negative health consequences.</p>
    <ul>
      <li>Up to 20 point loss in functional IQ</li>
      <li>Chronic fatigue and exhaustion</li>
      <li>Weakened immune system</li>
      <li>Musculoskeletal pain and tension</li>
      <li>Gastrointestinal problems</li>
      <li>Cardiovascular issues</li>
      <li>Sleep disturbances</li>
      <li>Headaches and dizziness</li>
    </ul>
    <p><strong>Recovery in bad cases can take 1-3 years.</strong> While coming
      back from a week
      break may feel good, realistically you're probably just moving from Stage
      5 to Stage 1 burnout. Restarting the cycle and making the problem
      worse.</p>
    <p><strong>3 main subtypes of burnout:</strong></p>
    <ul>
      <li><strong>Frentic Burnout:</strong> Working harder in response to
        stress, hoping that if you just solve the problem, the stress goes away.
        Social pressures and culture often see this as normal.
      </li>
      <li><strong>Underchallenged Burnout:</strong> Overstretched on monotonous
        work, no room for growth. (Simply giving someone autonomy after they've
        experienced burnout without recovery is not a solution.)
      </li>
      <li><strong>Worn-out Burnout:</strong> Moral or personal conflicts with
        work.
      </li>
    </ul>
    <p>People typically don't notice they're going through burnout until after a
      big mistake, a physical crash, find they're engaging in too many unhealthy
      coping behaviors, when they're not coping with an event in the usual way,
      or it's called out by someone.</p>
    <p><strong>Vagal States</strong></p>
    <ul>
      <li><strong>Green Mode (Ventral Vagal State - Safety and Social
        Engagement)</strong>: This is
        the state of
        feeling safe, calm, and connected. In this mode, the ventral branch of
        the vagus nerve is active, promoting social engagement, feelings of
        security, and a sense of ease. Physiologically, this state is
        characterized by a regulated heart rate, open body language, and the
        ability to connect with others. It's the optimal state for rest,
        digestion, learning, and social interaction. Think of this as the "green
        light" for connection and thriving.
      </li>
      <li><strong>Amber Mode (Sympathetic State - Mobilization/Fight or
        Flight)</strong>: When
        the nervous system detects a potential threat that is not
        life-threatening, it shifts into the sympathetic state. This is the
        familiar "fight or flight" response. The sympathetic nervous system is
        activated, preparing the body for action. Heart rate and breathing
        increase, muscles tense, and senses are heightened. Social engagement is
        reduced as the body mobilizes energy for defense. This is the "amber
        light," signaling caution and the need to prepare for action.
      </li>
      <li><strong>Red Mode (Dorsal Vagal State -
        Immobilization/Shutdown)</strong>: If the
        perceived threat is overwhelming or inescapable, the nervous system may
        move into the dorsal vagal state. This is a more primitive response
        associated with the dorsal branch of the vagus nerve. In this state, the
        body shuts down or freezes. Heart rate and breathing may slow
        significantly, muscle tone decreases, and there can be feelings of
        numbness, dissociation, or helplessness. This is an ancient survival
        mechanism, like an animal playing dead to avoid a predator. It's the
        "red light," indicating a state of collapse or shutdown in the face of
        extreme danger.
      </li>
    </ul>
    <p><strong>How to soothe your nervous system</strong>, taking your vagal
      state from "amber mode" to "green mode".</p>
    <ul>
      <li>Humming or singing</li>
      <li>Turning your head side to side, up, down, or in circular motions. Look
        around the room and note all the things that are blue. (for example)
      </li>
      <li>Cold stimulation on the neck. Get a cold flannel, experiment with
        different temperatures.
      </li>
      <li>Look up and forward, relax and take in the whole environment. Allow
        your eyes a wide view.
      </li>
      <li>Breathing exercises and mediation. Place your hand over your heart
        during breathing exercises to warm it.
      </li>
      <li>Listen to calming music or a calming voice.</li>
      <li>Yoga/Pilates</li>
      <li>Imagine the feeling of compassion. (Prayer works well here.)</li>
      <li>Connect with others whom you feel safe and comfortable around.</li>
    </ul>
    <p><strong>Referenced books:</strong></p>
    <ul>
      <li><a href="https://www.goodreads.com/book/show/48930297-can-t-even"
             target="_blank">Can't Even: How Millennials Became the Burnout
        Generation, Anne Helen Peterson</a></li>
      <li><a href="https://www.goodreads.com/book/show/36860249-global-burnout"
             target="_blank">Global Burnout, Pascal Chabal</a></li>
      <li><a
        href="https://www.goodreads.com/book/show/56422646-a-straight-talking-introduction-to-the-power-threat-meaning-framework"
        target="_blank">A Straight Talking Introduction to the Power Threat
        Meaning
        Framework, Mary Boyle & Lucy Johnstone</a>
      </li>
      <li><a
        href="https://www.goodreads.com/book/show/35187211-the-polyvagal-theory-in-therapy">The
        Polyvagal Theory in Therapy, Deb Dana</a></li>
      <li><a href="https://www.goodreads.com/book/show/53240871-motherwhelmed"
             target="_blank">Motherwhelmed, Beth Berry</a></li>
    </ul>
  </main>
</Layout>