---
type Props = {
  src: string;
  title: string;
};

const { src, title } = Astro.props;
---

<div class="my-4">
  <iframe
    class="border-0 aspect-video w-full"
    src={src}
    title={title}
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    referrerpolicy="strict-origin-when-cross-origin"
    allowfullscreen></iframe>
</div>
